$bee-yellow: #FCD434;
$bee-dark-yellow: #F7B132;
$bee-honey: #F49208;
$bee-wings: #9ddceb;
$bee-grey: #1e1e1d;
$bee-dark: #121211;

$body-bg: #000;
//$body-color: #111;
$body-color: $bee-yellow;

$theme-colors: (
  "primary":  $bee-wings
);

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Russian";
  src: url("./assets/fonts/Russian.ttf");
}

h1, h2, h3 {
  font-family: Russian;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  //background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  //color: white;
  font-family: Russian;
  margin-top: 8px;
  margin-bottom: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
.create-token-button {
  width: 200px;
}
*/

.form-group {
  text-align: left;
}